@import "../mixins";

.about-us {
  padding: 30px 30px 0 30px;
  outline: 1px solid blue;
}

.about-us__title {
  margin: 0;
  padding-bottom: 28px;
  font-size: 25px;
  line-height: 30px;
  font-weight: bold;
  outline: 1px solid blue;
}

.about-us__list {
  .reset-list();
  font-size: 17px;
  line-height: 20px;
  font-weight: bold;
  outline: 1px solid blue;
}

.about-us__item {
  height: 61px;
  padding: 85px 0 27px 0;
  outline: 1px solid blue;
}

.about-us__item:last-child {
  padding-bottom: 0;
  margin-bottom: 53px;
}
