.about-us {
  padding: 30px 0 53px 0;
  outline: 1px solid blue;
}

.about-us__title {
  margin: 0;
  padding-bottom: 28px;
  font-size: 25px;
  line-height: 30px;
  font-weight: bold;
  outline: 1px solid blue;
}

.about-us__list {
  .reset-list();
  font-size: 17px;
  line-height: 20px;
  font-weight: bold;
  outline: 1px solid blue;
}

.about-us__item {
  height: 61px;
  padding: 85px 0 27px 0;
  outline: 1px solid blue;
}

@media (min-width: @tablet-width) {
  .about-us {
    padding: 60px 50px 80px 50px;
    max-width: @tablet-width;
  }
  .about-us__title {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    font-size: 43px;
    line-height: 50px;
  }

  .about-us__list {
    display: flex;
    flex-wrap: wrap;
    font-size: 20px;
    line-height: 22px;
  }

  .about-us__item {
    width: 50%;
  }

  .about-us__item--eco {
    order: 0;
  }

  .about-us__item--price {
    order: 2;
  }

  .about-us__item--like {
    order: 4;
  }

  .about-us__item--handmade {
    order: 1;
  }

  .about-us__item--homeland {
    order: 3;
  }

  .about-us__item--giftwrap {
    order: 5;
  }

}

@media (min-width: @desktop-width) {
    .about-us {
    padding: 68px 50px 90px 175px;
    max-width: @desktop-width;
  }
  .about-us__title {
    display: flex;
    flex-wrap: wrap;
    font-size: 53px;
    line-height: 57px;
    width: 65%;
  }

  .about-us__list {
    width: 65%;
  }

  .about-us__item {
    width: 50%;
  }
}
