.btn {
  display: block;
  box-sizing: border-box;
  width: 260px;
  min-height: 52px;
  padding: 17px 0;
  font-size: 17px;
  line-height: 20px;
  font-weight: bold;
  color: rgb(68, 68, 68);
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  border: 2px solid rgb(68, 68, 68);
}
