.contacts {
  position: relative;

  padding: 41px 0 39px 0;

  @media (min-width: @tablet-width) {
    padding: 61px 0 57px 0;
  }

  @media (min-width: @desktop-width) {
    position: relative;

    margin-bottom: 50px;
    padding: 69px 50px 57px 224px;
  }
}

.contacts::before {
  position: absolute;

  display: none;

  width: 47px;
  height: 82px;

  content: "";

  background-image: url("../img/icon-flag.svg");

  @media (min-width: @tablet-width) {
    top: 61px;
    right: 53px;

    display: block;
  }

  @media (min-width: @desktop-width) {
    top: 131px;
    left: 114px;
  }
}

.contacts_wrapper {
  margin-bottom: 37px;
  padding: 0 30px;

  @media (min-width: @tablet-width) {
    margin-bottom: 57px;
    padding: 0 50px;
  }

  @media (min-width: @desktop-width) {
    width: 302px;
    margin-top: 56px;
    padding: 0;
  }
}

.contacts__title {
  font-size: 18px;
  font-weight: bold;
  line-height: 30px;

  margin: 0;
  padding: 0;

  @media (min-width: @tablet-width) {
    font-size: 43px;
    line-height: 50px;

    height: 70px;
    margin-bottom: 28px;
    margin-left: -4px;
    padding-top: 15px;
  }

  @media (min-width: @desktop-width) {
    font-size: 53px;
    line-height: 57px;
  }
}

.contacts__info {
  font-size: 15px;
  line-height: 30px;

  .reset-list();

  @media (min-width: @tablet-width) {
    display: flex;

    align-items: flex-start;
    justify-content: space-between;
  }

  @media (min-width: @desktop-width) {
    display: block;

    padding: 0;
  }
}

.contacts__item {
  display: flex;

  min-height: 30px;
  margin-top: 25px;
  margin-bottom: 30px;

  @media (min-width: @tablet-width) {
    font-size: 17px;
    line-height: 30px;

    width: 50%;
    margin: 0;
  }

  @media (min-width: @desktop-width) {
    width: 100%;
    margin: 0;
  }
}

.contacts__item:first-child {
  @media (min-width: @desktop-width) {
    margin-bottom: 30px;
    padding-top: 8px;
  }
}

.contacts__type {
  min-width: 77px;
  margin: 0;
}

.contacts__data {
  margin: 0;

  &--email {
    cursor: pointer;

    border-bottom: 1px solid @color-mint;

    &:hover {
      color: @color-mint;
    }

    &:active {
      opacity: 0.3;
    }
  }

  @media (min-width: @desktop-width) {
    padding-top: 0;
  }
}

.contacts__maps {
  position: relative;

  &::after {
    position: absolute;
    top: 144px;
    left: 139px;

    width: 67px;
    height: 100px;

    content: "";

    background-image: url("../img/icon-map-pin.svg");

    @media (min-width: @tablet-width) {
      top: 139px;
      left: 364px;
    }

    @media (min-width: @desktop-width) {
      top: 148px;
      left: 240px;
    }
  }

  @media (min-width: @desktop-width) {
    position: absolute;
    z-index: 300;
    top: 69px;
    right: 50px;

    width: 525px;
    height: 457px;
  }
}

.contacts__map-item {
  width: 100%;
}

iframe.contacts__map-item {
  position: absolute;
  z-index: 500;
  top: 0;
  left: 0;

  padding: 0;

  @media (min-width: @tablet-width) {
    width: 100%;
  }
}

.contacts__write-us {
  margin: 33px auto 0;

  @media (min-width: @tablet-width) {
    width: 230px;
    margin-top: 52px;
  }

  @media (min-width: @desktop-width) {
    width: 230px;
    margin: 0;
    margin-top: 78px;
  }
}
