.contacts {
  position: relative;
  padding: 40px 0 39px 0;

  outline: 1px solid blue;

  @media (min-width: @tablet-width) {
    padding: 61px 0 57px 0;

    outline: 1px solid blue;
  }

  @media (min-width: @desktop-width) {
    position: relative;

    margin-bottom: 50px;
    padding: 69px 50px 57px 224px;
  }
}

.contacts::before {
  position: absolute;
  content: "";
  width: 47px;
  height: 82px;
  background-image: url("../img/icon-flag.svg");
  display: none;
  @media (min-width: @tablet-width) {
    display: block;
    top: 60px;
    right: 50px;
  }
  @media (min-width: @desktop-width) {
  	top: 140px;
    left: 120px;
  }
}

.contacts_wrapper {
  margin-bottom: 37px;
  padding: 0 30px;
  @media (min-width: @tablet-width) {
    margin-bottom: 57px;
    padding: 0 50px;
  }
  @media (min-width: @desktop-width) {
    width: 302px;
    margin-top: 56px;
    padding: 0;

  }
}


.contacts__title {
  font-size: 18px;
  font-weight: bold;
  line-height: 30px;

  margin: 0;
  margin-bottom: 27px;
  padding: 0;

  outline: 1px solid blue;

  @media (min-width: @tablet-width) {
    font-size: 43px;
    line-height: 50px;

    height: 70px;
    margin-bottom: 28px;
    padding-top: 15px;
  }

  @media (min-width: @desktop-width) {
    font-size: 53px;
    line-height: 57px;
  }
}

.contacts__info {
  font-size: 15px;
  line-height: 30px;

  outline: 1px solid blue;

  .reset-list();

  @media (min-width: @tablet-width) {
    display: flex;

    justify-content: space-between;
  }

  @media (min-width: @desktop-width) {
    display: block;

    padding: 0;
  }
}

.contacts__item {
  display: flex;

  min-height: 30px;
  margin-top: 28px;

  @media (min-width: @tablet-width) {
    font-size: 17px;
    line-height: 30px;

    width: 50%;
    margin: 0;
  }

  @media (min-width: @desktop-width) {
    width: 100%;
    margin: 0;
  }
}

.contacts__item:first-child {
  @media (min-width: @desktop-width) {
    margin-bottom: 30px;
    padding-top: 8px;
  }
}

.contacts__type {
  min-width: 77px;
  margin: 0;
}

.contacts__data {
  margin: 0;

  &--email {
    cursor: pointer;

    border-bottom: 1px solid @color-mint;

    &:hover {
      color: @color-mint;
    }

    &:active {
      opacity: .3;
    }
  }
  @media (min-width: @desktop-width) {
    padding-top: 0;
  }
}

.contacts__maps {
  position: relative;

  outline: 1px solid blue;

  @media (min-width: @desktop-width) {
    position: absolute;
    top: 69px;
    right: 50px;

    width: 525px;
    height: 457px;
  }
}

iframe.contacts__map-item {
  position: absolute;
  top: 0;
  left: 0;

  padding: 0;

  @media (min-width: @tablet-width) {
    width: 100%;
  }
}

.contacts__write-us {
  margin: 37px auto 0;

  @media (min-width: @tablet-width) {
    width: 230px;
    margin-top: 52px;
  }

  @media (min-width: @desktop-width) {
    width: 230px;
    margin: 0;
    margin-top: 78px;
  }
}
