.filter {
  padding: 0 30px;

  outline: 2px solid green;

  @media (min-width: @tablet-width) {
    padding: 0;
  }
}

.filter__text {
  font-size: 13px;
  line-height: 24px;

  outline: 1px solid green;
  margin-top: -9px;
  margin-bottom: 26px;

  @media (min-width: @tablet-width) {
    font-size: 17px;
    line-height: 30px;

    padding: 0 50px;
  }
}

.filter__fieldset {
  position: relative;
  padding: 0;
  margin: 0;
  margin-top: 9px;


  @media (min-width: @tablet-width) {
    position: relative;

    margin: 0;
    padding: 50px 50px;

    border: none;

    &--hl {
      background-color: @color-dark-grey;
    }
  }
}

.filter__legend {
    font-size: 17px;
    font-weight: bold;
    line-height: 16px;
    text-transform: uppercase;
  @media (min-width: @tablet-width) {

    position: absolute;
    top: 80px;

    color: @color-mint;
  }
}

.filter__input-list {
  padding: 0;
  margin: 0;
  margin-top: 23px;

  &--textfield {
    margin-top: 30px;
  }

  &--single {
    margin-top: 22px;
  }

  &--textarea {
    margin-top: 27px;
  }

  @media (min-width: @tablet-width) {
    font-size: 19px;
    font-weight: bold;
    line-height: 18px;

    display: flex;
    flex-direction: column;

    margin-left: 167px;
    padding: 0;

    flex-wrap: wrap;

    &--checkbox {
      flex-direction: row;

      justify-content: space-between;
    }
  }

  @media (min-width: @desktop-width) {
    width: 700px;
    margin-left: 113px;
  }
}

li.filter__input-item {
  display: block;
  height: 69px;
  margin-bottom: 22px;
}
.filter__input-list--radio .filter__input-item,
.filter__input-list--checkbox .filter__input-item {
  height: 30px;
  margin-bottom: 20px;
  padding-top: 11px;
  padding-left: 61px;
}

.filter__input-list--single .filter__input-item {
  height: 35px;
}

.filter__input-list--textarea .filter__input-item {
  height: 142px;
  margin-bottom: 13px;
}

.filter__label {
  display: block;
  margin-bottom: 15px;
}

.filter__input-item {
  display: block;
  font-size: 17px;
  font-weight: bold;
  line-height: 18px;
  margin: 30px 0;

  outline: 1px solid green;

  .reset-list();

  &--textarea {
    width: 260px;
    height: 142px;
    padding: 0;
  }

  &--textarea textarea {
    width: 100%;
    height: 100%;
    padding: 0;
  }

  @media (min-width: @tablet-width) {
    height: 50px;

    &--textarea {
      width: 501px;
      height: 142px;
    }
  }

  @media (min-width: @desktop-width) {
    &--textarea {
      width: 700px;
    }
  }
}

.filter__input-list--checkbox .filter__input-item {
  @media (min-width: @tablet-width) {
    width: 50%;
  }

  @media (min-width: @desktop-width) {
    width: 30%;
  }
}

.filter__btn-note {
  @media (min-width: @tablet-width) {
    display: flex;

    padding: 0 50px;

    justify-content: space-between;
  }

  @media (min-width: @desktop-width) {
    width: 700px;
    margin-left: 113px;
  }
}

.filter__note {
  font-size: 14px;
  line-height: 16px;

  margin: 0;
  padding: 0;
  padding-bottom: 33px;

  @media (min-width: @tablet-width) {
    order: 1;
  }
}

.filter__sent-order {
  margin-bottom: 55px;

  background-color: rgb(255, 255, 255);
}
