.filter {
  padding: 0 30px;

  @media (min-width: @tablet-width) {
    margin-bottom: -2px;
    padding: 0;
  }
}

.filter__text {
  font-size: 13px;
  line-height: 24px;

  margin-top: -9px;
  margin-bottom: 25px;

  @media (min-width: @tablet-width) {
    font-size: 17px;
    line-height: 30px;

    margin-top: -7px;
    margin-bottom: 23px;
    padding: 0 50px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 21px;
    padding-right: 225px;
    padding-left: 225px;
  }
}

.filter__wrapper--single {
  margin-top: 10px;

  @media (min-width: @tablet-width) {
    height: 178px;
    margin-top: 0;
    padding-top: 50px;
  }
}

.filter__fieldset {
  position: relative;

  margin: 0;
  margin-top: 13px;
  padding: 0;

  border: none;

  &--textfield {
    margin-top: 11px;
  }

  &--single {
    margin-top: 0;
    margin-bottom: 26px;
  }

  &--textarea {
    margin-top: 28px;
  }


  @media (min-width: @tablet-width) {
    margin: 0;
    padding: 34px 50px 50px 50px;

    border: none;

    &--checkbox {
      padding-bottom: 26px;
    }

    &--textfield {
      padding-top: 40px;
      padding-bottom: 5px;
    }

    &--single {
      padding-top: 0;
      padding-bottom: 25px;
    }

    &--textarea {
      padding-top: 49px;
      padding-bottom: 43px;
    }
  }

  @media (min-width: @desktop-width) {
    padding-left: 112px;

    &--textfield {
      padding-top: 39px;
      padding-bottom: 0;
    }

    &--checkbox {
      padding-top: 32px;
    }

    &--textarea {
      padding-top: 50px;
      padding-bottom: 40px;
    }
  }
}

.filter__wrapper--hl,
.filter__fieldset--hl {
  @media (min-width: @tablet-width) {
    background-color: @color-dark-grey;
  }
}

.filter__fieldset-wrapper {
  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
  }
}


.filter__legend {
  font-size: 17px;
  font-weight: bold;
  line-height: 16px;

  display: block;
  margin: 0;

  min-width: 59px;
  padding-right: 23px;

  text-transform: uppercase;

  color: @color-mint;

  &::before {
    position: absolute;
    content: "";
    right: 0;
    top: 7px;
    height: 1px;
    width: 199px;
    background-color: @color-mint;
  }

  &--email::before {
    width: 179px;
  }

  @media (min-width: @tablet-width) {
    width: 165px;
    padding-right: 0;
    padding-left: 2px;
    padding-top: 19px;

    &::before {
      display: none;
    }

    &--checkbox {
      padding-top: 34px;
    }

    &--textfield {
      padding-top: 26px;
    }

    &--single {
      padding-top: 17px;
    }

    &--textarea {
      padding-top: 18px;
    }
  }

  @media (min-width: @desktop-width) {
    padding-left: 0;
    width: 113px;

    &--checkbox {
      padding-top: 35px;
    }

    &--textfield {
      padding-top: 27px;
    }

    &--single {
      padding-top: 19px;
    }
  }
}

.filter__input-list {
  margin: 0;
  margin-top: 23px;
  padding: 0;

  &--checkbox {
    margin-top: 24px;
  }

  &--textfield {
    margin-top: 28px;
  }

  &--single {
    margin-top: 13px;
  }

  &--textarea {
    margin-top: 25px;
  }

  @media (min-width: @tablet-width) {
    font-size: 19px;
    font-weight: bold;
    line-height: 18px;
    width: 500px;

    display: flex;
    flex-direction: column;

    margin-top: 0;
    margin-bottom: 0;
    padding: 0;

    flex-wrap: wrap;

    &--checkbox {
      flex-direction: row;
      margin-top: 18px;

      justify-content: space-between;
    }

    &--textfield {
      margin-top: 26px;
      margin-bottom: 8px;
    }

    &--single {
      margin-top: 0;
      padding-top: 0;
    }
  }

  @media (min-width: @desktop-width) {
    width: 800px;

    justify-content: flex-start;
  }
}

.filter .filter__radio[type="radio"] {
  display: none;
}

.filter .filter__radio[type="radio"] + .filter__label {
  position: relative;

  display: block;

  cursor: pointer;
}

.filter .filter__radio[type="radio"] + .filter__label::before {
  position: absolute;
  top: -11px;
  left: -62px;

  width: 37px;
  height: 37px;

  content: "";

  border: 2px solid @color-charcoal;
  border-radius: 50%;

  @media (min-width: @tablet-width) {
    top: -16px;
    left: -83px;

    width: 49px;
    height: 49px;
  }
}

.filter .filter__radio[type="radio"]:hover + .filter__label::before {
  border-color: @color-mint;
}

.filter .filter__radio[type="radio"]:active + .filter__label::before {
  border-color: @color-harp;
}

.filter .filter__radio[type="radio"]:checked + .filter__label::before {
  background-color: @color-mint;
  box-shadow: inset 0 0 0 10px white;

  @media (min-width: @tablet-width) {
    box-shadow: inset 0 0 0 14px white;
  }
}


.filter__input-list--radio .filter__input-item,
.filter__input-list--checkbox .filter__input-item {
  height: 30px;
  margin-bottom: 19px;
  padding-top: 11px;
  padding-left: 61px;
}

.filter__input-list--radio .filter__input-item {
  @media (min-width: @tablet-width) {
    height: 36px;
    margin-bottom: 0;
    padding-top: 16px;
    padding-left: 82px;
  }
}

.filter__input-list--radio .filter__input-item:first-child {
  @media (min-width: @tablet-width) {
    margin-bottom: 24px;
  }
}

.filter__input-list--checkbox .filter__input-item {
  margin-bottom: 20px;

  @media (min-width: @tablet-width) {
    width: 30%;
    height: 36px;
    margin-right: 6px;
    margin-bottom: 24px;
    padding-top: 16px;
    padding-left: 82px;
  }

  @media (min-width: @desktop-width) {
    width: 155px;
    margin-right: 26px;
    padding-top: 16px;
  }
}

.filter__input-list--textfield .filter__input-item {
  @media (min-width: @desktop-width) {
    width: 700px;
  }
}

.filter .filter__checkbox[type="checkbox"] {
  display: none;
}

.filter .filter__checkbox[type="checkbox"] + .filter__label {
  position: relative;

  display: block;

  cursor: pointer;
}

.filter .filter__checkbox[type="checkbox"] + .filter__label::before {
  position: absolute;
  top: -13px;
  left: -62px;

  width: 37px;
  height: 36px;

  content: "";

  border: 2px solid @color-charcoal;

  @media (min-width: @tablet-width) {
    top: -18px;
    left: -83px;

    width: 51px;
    height: 48px;
  }
}

.filter .filter__checkbox[type="checkbox"]:hover + .filter__label::before {
  border-color: @color-mint;
}

.filter .filter__checkbox[type="checkbox"]:active + .filter__label::before {
  border-color: @color-harp;
}

.filter .filter__checkbox[type="checkbox"]:checked + .filter__label::before {
  background-image: url("../img/icon-tick.svg");
  background-repeat: no-repeat;
  background-position: 9px 12px;
  background-size: 22px 16px;

  @media (min-width: @tablet-width) {
    background-position: 11px 16px;
    background-size: 33px 22px;
  }
}

.filter__icon {
  position: absolute;
  top: 6px;
  right: 6px;

  fill-opacity: 0.3;

  &:hover {
    fill-opacity: 1;
    fill: @color-mint;
  }

  @media (min-width: @tablet-width) {
    top: 10px;
    right: 24px;
  }

  @media (min-width: @desktop-width) {
    right: 5px;
  }
}

.filter__field {
  width: 100%;
  height: 42px;

  border: none;
  border-bottom: 2px solid @color-black;

  &:focus {
    border-color: @color-mint;
  }

  &--textfield {
    @media (min-width: @tablet-width) {
      margin-top: -10px;
      padding-left: 20px;
    }
  }

  &--single {
    position: relative;

    width: 100%;

    @media (min-width: @tablet-width) {
      font-size: 19px;

      display: flex;

      width: 99%;
      margin-top: 5px;
      margin-bottom: 6px;
      padding-left: 15px;

      background-color: @color-dark-grey;

      align-items: flex-start;
    }
  }
}

.filter__field::placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.filter__input-item {
  font-size: 17px;
  font-weight: bold;
  line-height: 18px;

  position: relative;

  display: block;

  height: 69px;
  margin-bottom: 23px;

  &:hover, &:focus {
    .filter__icon {
      fill-opacity: 1;
      fill: @color-mint;
    }

    .filter__field {
      border-color: @color-mint;
    }
  }

  @media (min-width: @tablet-width) {
    font-size: 19px;

    display: flex;

    margin-bottom: 6px;

    align-items: flex-start;
  }

  @media (min-width: @desktop-width) {
    width: 700px;
    margin-bottom: 8px;
  }

  &--single {
    height: 51px;
    margin-bottom: 0;
  }
}

.filter__input-item--textarea {
  height: 142px;
  margin-bottom: 15px;

  @media (min-width: @tablet-width) {
    margin-bottom: 10px;
  }

  @media (min-width: @desktop-width) {
    width: 700px;
  }
}

.filter__textarea {
  width: 245px;
  height: 126px;
  padding: 0;
  padding-top: 13px;
  padding-left: 14px;

  border-color: @color-black;

  &:hover, &:focus {
    border-color: @color-mint;
  }

  @media (min-width: @tablet-width) {
    width: 99%;
    height: 128px;
  }
}

.filter__label {
  display: block;

  margin-right: 40px;
  margin-bottom: 5px;

  &--textfield {
    @media (min-width: @tablet-width) {
      margin-right: 24px;
    }
  }
}

.filter__btn-note {
  @media (min-width: @tablet-width) {
    display: flex;

    padding: 0 50px;

    justify-content: space-between;
  }

  @media (min-width: @desktop-width) {
    width: 700px;
    margin-left: 175px;
  }
}

.filter__note {
  font-size: 14px;
  line-height: 16px;

  margin: 0;
  padding: 0;
  padding-bottom: 31px;

  @media (min-width: @tablet-width) {
    font-size: 17px;
    line-height: 30px;

    margin-top: 9px;
    padding-bottom: 33px;

    order: 1;
  }
}

.filter__sent-order {
  width: 260px;
  margin-bottom: 55px;

  background-color: rgb(255, 255, 255);

  @media (min-width: @tablet-width) {
    width: 230px;
    margin-bottom: 52px;

    background-color: rgb(255, 255, 255);
  }
}
