.logo {
  text-align: center;
  outline: 1px solid green;
  height: 79px;
  width: 258px;
}

.logo__img {
  padding: 22px 0;
  margin: 0 auto;
}

@media (min-width: @tablet-width) {
  .logo {
    width: 318px;
    height: 90px;
    order: -2;
  }
  .logo__img {
    padding: 22px 0;
  }
}

@media (min-width: @desktop-width) {
  .logo {

    height: 90px;
    order: -1;
    text-align: center;
  }
}
