.opinions {
  padding: 0 30px;
  padding-bottom: 45px;

  outline: 1px solid orange;

  @media (min-width: @tablet-width) {
    position: relative;

    display: flex;

    padding: 70px 50px 53px 50px;

    background: @color-light-grey url("../img/review@1x.jpg") no-repeat 0;

    flex-wrap: wrap;
    justify-content: space-between;
  }

  @media (min-width: @desktop-width) {
    padding: 70px 50px 102px 175px;
  }
}

.opinions__title {
  font-size: 25px;
  font-weight: bold;
  line-height: 30px;

  margin: 0 0 29px 0;

  outline: 1px solid orange;

  @media (min-width: @tablet-width) {
    font-size: 43px;
    font-weight: bold;
    line-height: 50px;

    margin-bottom: 53px;
  }
}

.opinions__write {
  @media (min-width: @tablet-width) {
    max-height: 50px;
    padding-top: 12px;

    order: 1;
  }
}

.opinions__list {
  outline: 1px solid orange;

  @media (min-width: @tablet-width) {
    order: 2;
  }
}

.opinions__item {
  margin: 0;

  outline: 1px solid orange;
}

.opinions__text {
  font-size: 15px;
  line-height: 30px;

  margin: 0 0 32px 0;

  @media (min-width: @tablet-width) {
    font-size: 17px;
    line-height: 30px;

    margin: 0 0 59px 0;
  }

  @media (min-width: @desktop-width) {
    max-width: 790px;
  }
}

.opinions__author {
  font-size: 17px;
  font-weight: bold;

  margin: 0 0 7px 0;

  outline: 1px solid orange;
}

.opinions__email {
  font-size: 17px;

  margin: 0 0 33px 0;

  outline: 1px solid orange;
}

.opinions__pagination {
  display: flex;

  width: 260px;
  margin-bottom: 38px;

  outline: 1px solid orange;

  @media (min-width: @tablet-width) {
    position: absolute;
    top: 352px;
    right: 50px;
  }

  @media (min-width: @desktop-width) {
    position: absolute;
    top: 322px;
    right: 50px;
  }
}

.opinions__prev-item {
  width: 130px;

  outline: 1px solid orange;
}

.opinions__next-item {
  width: 130px;

  outline: 1px solid orange;
}
