.opinions {
  padding: 0 30px;
  outline: 1px solid orange;
}

.opinions__title {
  margin: 0 0 29px 0;
  font-size: 25px;
  line-height: 30px;
  font-weight: bold;
  outline: 1px solid orange;
}

.opinions__list {
  outline: 1px solid orange;
}

.opinions__item {
  margin: 0;
  outline: 1px solid orange;
}

.opinions__text {
  margin: 0 0 32px 0;
  font-size: 15px;
  line-height: 30px;
}

.opinions__author {
  margin: 0 0 7px 0;
  font-size: 17px;
  font-weight: bold;
  outline: 1px solid orange;
}

.opinions__email {
  margin: 0 0 33px 0;
  font-size: 17px;
  outline: 1px solid orange;
}

.opinions__pagination {
  display: flex;
  width: 260px;
  margin-bottom: 38px;
  outline: 1px solid orange;
}

.opinions__prev-item {
  width: 130px;
  outline: 1px solid orange;
}

.opinions__next-item {
  width: 130px;
  outline: 1px solid orange;
}
