.page-footer {
  background-color: @color-dark-grey;
}

.page-footer__wrapper {
  @media (min-width: @tablet-width) {
    display: flex;

    height: 144px;
    padding: 0 50px 0;

    justify-content: space-between;
    align-items: baseline;
  }

  @media (min-width: @desktop-width) {
    height: 144px;
    margin-top: 0;
    padding: 0;

    align-items: stretch;
  }
}

.page-footer__logo {
  display: none;

  @media (min-width: @tablet-width) {
    display: block;

    width: 25%;

    text-align: left;
  }

  @media (min-width: @desktop-width) {
    height: 90px;
    padding-top: 54px;
  }
}

.page-footer__social {
  @media (min-width: @tablet-width) {
    width: 50%;
    height: 80px;
  }
  @media (min-width: @desktop-width) {
    height: 90px;
    padding-top: 54px;
  }
}

.page-footer__social-list {
  display: flex;

  height: 80px;

  outline: 1px solid red;

  justify-content: center;
  .reset-list();

  @media (min-width: @tablet-width) {
    height: 70px;
    padding-top: 20%;
  }

  @media (min-width: @desktop-width) {
    height: 100%;
    padding-top: 0;
  }
}

.page-footer__social-item {
  position: relative;

  padding-right: 40px;

  outline: 1px solid green;

  .text-hidden();
}

.page-footer__social-icon {
  position: absolute;

  &--inst {
    top: 13px;
    left: -12px;

    width: 22px;
    height: 21px;
  }

  &--fb {
    top: 9px;
    left: 11px;

    width: 15px;
    height: 28px;
  }

  &--twit {
    top: 14px;
    right: -9px;

    width: 23px;
    height: 20px;
  }
}

.page-footer__designed {
  font-size: 19px;
  font-weight: bold;
  line-height: 18px;

  position: relative;

  height: 52px;
  padding-top: 28px;
  padding-left: 69px;

  text-decoration: none;

  outline: 1px solid red;

  @media (min-width: @tablet-width) {
    width: 25%;
    padding-left: 33px;
  }

  @media (min-width: @desktop-width) {
    width: 185px;
    height: 81px;
    padding-top: 63px;
    padding-left: 43px;
  }
}

.page-footer__designed-icon {
  position: absolute;
  top: 22px;
  right: 68px;

  width: 27px;
  height: 34px;

  fill: @color-mint;
}
