.page-main {
  outline: 1px solid red;
}

.page-main__title {
  font-size: 27px;
  font-weight: bold;
  line-height: 30px;

  height: 105px;
  margin: 0 0 31px 0;
  padding-top: 71px;

  text-align: center;

  outline: 1px solid red;
  background-color: rgb(241, 241, 241);

  @media (min-width: @tablet-width) {
    font-size: 43px;
    line-height: 50px;

    margin-top: -92px;
    margin-bottom: 81px;
    padding-top: 94px;
    padding-bottom: 23px;
  }
}
