.page-main__title {
  font-size: 27px;
  font-weight: bold;
  line-height: 30px;

  height: 105px;
  margin: 0 0 29px 0;
  padding-top: 71px;

  text-align: center;

  background-color: @color-dark-grey;

  @media (min-width: @tablet-width) {
    font-size: 43px;
    line-height: 50px;

    position: relative;

    margin-top: -92px;
    margin-bottom: 79px;
    padding-top: 94px;
    padding-bottom: 25px;

    &::after {
      position: absolute;
      z-index: 200;
      bottom: -5px;
      left: 0;

      width: 100%;
      height: 18px;

      content: "";

      background: url("../img/bg-zigzag-fill.svg") repeat-x 0 0;
      background-size: 100%;

      @media (min-width: @desktop-width) {
        height: 25px;
      }
    }
  }

  @media (min-width: @desktop-width) {
    font-size: 53px;
    line-height: 57px;

    margin-top: -41px;
    margin-bottom: 128px;
    padding-bottom: 55px;
  }
}
