.page-footer {
  background-color: @color-dark-grey;
}

.page-footer__wrapper {
  @media (min-width: @tablet-width) {
    display: flex;

    padding: 0 50px 0;

    justify-content: space-between;
  }
}

.page-footer__logo {
  display: none;

  @media (min-width: @tablet-width) {
    display: block;

    width: 25%;

    text-align: left;
  }
}

.page-footer__social {
  @media (min-width: @tablet-width) {
    width: 200px;
    height: 100px;
  }
}

.page-footer__social-list {
  display: flex;

  height: 80px;

  outline: 1px solid red;

  justify-content: center;
  .reset-list();

  @media (min-width: @tablet-width) {
    padding-top: 22%;

    justify-content: space-between;
  }
}

.page-footer__social-item {
  padding-right: 40px;

  outline: 1px solid green;
}

.page-footer__designed {
  font-size: 19px;
  font-weight: bold;
  line-height: 18px;

  height: 52px;
  padding-top: 28px;
  padding-left: 69px;

  text-decoration: none;

  outline: 1px solid red;

  @media (min-width: @tablet-width) {
    width: 25%;
  }
}
