@import "../mixins";

.random-status-product {
  padding: 35px 30px;
  text-align: left;
  outline: 1px solid red;
}

.random-status-product__name {
  margin: 0;
  padding-bottom: 11px;
  font-size: 25px;
  line-height: 30px;
  font-weight: bold;
  outline: 1px solid red;
}

.random-status-product__status {
  margin: 0;
  padding-bottom: 22px;
  font-size: 17px;
  line-height: 20px;
  font-weight: bold;
  color: rgb(99, 209, 187);
  text-transform: uppercase;
  outline: 1px solid red;
}

.random-status-product__description {
  margin: 0;
  padding-bottom: 22px;
  font-size: 15px;
  line-height: 24px;
  outline: 1px solid red;
}

.random-status-product__specs {
  font-size: 15px;
  line-height: 20px;
}

.random-status-product__spec-list {
  .reset-list();
  outline: 1px solid red;
  margin-bottom: 30px;

}

.random-status-product__spec-item {
  padding: 12px 0 12px 0;
  outline: 1px solid red;
}

.random-status-product__img {
  height: 315px;
  outline: 1px solid red;
  margin-bottom: 22px;
}

.random-status-product__price {
  display: block;
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
  color: rgb(68, 68, 68);
  text-align: center;
  outline: 1px solid red;
}
