.work-process {
  margin-bottom: 60px;
  padding-bottom: 30px;

  border: 1px solid @color-rum-swizzle;

  &:hover {
    .item-hover-shadow();
  }

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: column;

    margin-bottom: 65px;
    padding-bottom: 44px;
  }

  @media (min-width: @desktop-width) {
    width: 100%;
    max-height: 455px;
    margin-bottom: 105px;
    padding-bottom: 0;

    flex-wrap: wrap;
  }
}

.work-process__title {
  font-size: 17px;
  font-weight: bold;
  line-height: 24px;

  position: relative;

  margin: 0;
  padding: 25px 0 25px 90px;

  @media (min-width: @tablet-width) {
    font-size: 20px;

    padding: 38px 0 8px 106px;
  }

  @media (min-width: @desktop-width) {
    width: 230px;
    height: 60px;
    margin-top: 47px;
    padding: 50px 0 6px 76px;
  }
}

.work-process__camera-icon {
  position: absolute;
  top: 31px;
  left: 34px;

  width: 32px;
  height: 32px;

  fill: @color-mint;

  @media (min-width: @tablet-width) {
    top: 33px;
    left: 40px;
  }

  @media (min-width: @desktop-width) {
    top: -4px;
    left: 77px;
  }
}

.work-process__img-video {
  position: relative;

  width: 100%;
  height: 150px;

  &:hover::before {
    transform: scale(1.2);
  }

  &:active::before {
    transform: scale(0.8);

    opacity: 0.3;
  }

  @media (min-width: @tablet-width) {
    width: 100%;
    height: 455px;

    order: -1;
  }

  @media (min-width: @desktop-width) {
    width: 682px;
  }
}

.work-process__img-video::before {
  position: absolute;
  top: 37px;
  left: 80px;

  width: 101px;
  height: 77px;

  content: "";
  cursor: pointer;

  background-image: url("../img/icon-play.svg");
  background-repeat: no-repeat;

  @media (min-width: @tablet-width) {
    top: 189px;
    left: 284px;
  }

  @media (min-width: @desktop-width) {
    top: 190px;
    left: 290px;
  }
}

.work-process__video-img {
  width: 100%;
  height: 100%;
}

.work-process__video {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
}

.work-process__video-link {
  width: 100%;
  height: 100%;
}


.work-process__text {
  font-size: 13px;
  line-height: 24px;

  margin: 0;
  padding: 26px 35px;

  @media (min-width: @tablet-width) {
    font-size: 15px;
    line-height: 30px;

    padding: 23px 35px 36px 40px;
  }

  @media (min-width: @desktop-width) {
    width: 250px;
    padding: 13px 35px 46px 76px;
  }
}

.work-process__make-order {
  width: 190px;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    font-size: 17px;
    line-height: 16px;

    width: 584px;
    margin: 0 42px;
    padding-top: 17px;
  }

  @media (min-width: @desktop-width) {
    width: 230px;
    margin-left: 76px;
  }
}
