
@font-face {
  font-family: "Open Sans";
  font-weight: 400;
  font-style: normal;

  src: url("../fonts/opensans.woff"),
  url("../fonts/opensans.woff2");
}

@font-face {
  font-family: "Open Sans";
  font-weight: 700;
  font-style: normal;

  src: url("../fonts/opensansbold.woff"),
  url("../fonts/opensansbold.woff2");
}

body {
  font-family: "Open Sans", "Arial", sans-serif;
}

.screen-width {
  min-width: @mobile-width;
  max-width: @mobile-width;
  margin: 0 auto;
}

.container {
  padding: 0 30px;
}

@media (min-width: @tablet-width) {
  .screen-width {
    max-width: @tablet-width;
    margin: 0 auto;
  }

  .container {
    padding: 0 50px;
  }
}

@media (min-width: @desktop-width) {
  .screen-width {
    max-width: @desktop-width;
    margin: 0 auto;
  }

  .container {
    position: relative;
    padding: 0 50px;
  }
}

.paragraph {
  margin: 0;
  padding: 0;
}

.hidden {
  display: none;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;

  overflow: hidden;
  clip: rect(0 0 0 0);

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  white-space: nowrap;

  border: 0;

  clip-path: inset(100%);
}
